.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.big {
    /* color: maroon; */
    text-align: center;
    font-weight: bold;
}

.home-text{
    font-size: 1.5rem;
    padding: 5rem;
}