nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    gap: 20px;
    display: flex;
    list-style: none;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover, nav a:focus {
    text-decoration: underline;
}

.sign_in{
    display: flex;
    padding-right: 20px;
}