* {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  margin: 0;
}

a {
  color: maroon;
}

input {
  padding-left: 5px;
  font-size: medium;
  margin: 10px;
  height: 7%;
  width: 20rem;
}

input::placeholder {
  font-size: medium;
}

button {
  cursor: pointer;
  background-color: rgba(128, 0, 21, 0.928);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover, button:focus {
  background-color: rgb(99, 1, 18);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  gap: 20px;
  display: flex;
  list-style: none;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover  {
  color: maroon;
  text-decoration: underline;
}